<!doctype html>

{% load staticfiles %}

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <img src="{% static 'img/bruins.png' %}">
        <p>Hello Griffin Area!</p>
        <p></p>
        <p>This is my fitbit API test landing page.</p>
        <p></p>

<!-- need to convert hard-coded values in the active href block below to variables at some point.
     the next two lines don't work yet but is where this code needs to go.

        {% url 'fitbit_auth_URL' fitbit_response_type fitbit_client fitbit_secret fitbit_redirect_URI as the_URL %}
        <a href= "{{ the_URL }}">Authorize the app to collect fitbit data from {{ the_URL }}</a>
-->
        <p></p>
        <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227MC6&redirect_uri=http%3A%2F%2Ffdl.cfapps.io%2Ffitbit%2Fauth&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20weight&expires_in=604800">Authorize the app to collect fitbit data</a>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
